@mixin keyFrameShow {
  @keyframes fade-out {
    from{
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@mixin keyFrameWidth ($width) {
  @keyframes widthMove  {
    from{
      width: 0px;
    }
    to {
      width: $width;
    }
  }
}

@mixin animate($animation, $times){
  animation: $animation $times;
}