@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"); /* COLORS */
/* COLORS */
.message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem;
  box-shadow: 0px 0px 5px 0px rgb(189, 189, 189);
  border-radius: 5px;
  border: none;
  animation: fade-out 400ms;
}
@keyframes fade-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.message .top-box p {
  font-size: 1.1rem;
}
.message .bottom-box {
  display: flex;
  justify-content: space-between;
}
.message .bottom-box button {
  margin-top: 2rem;
  width: 48%;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.message .bottom-box button:focus-visible {
  outline: none;
  border: none;
}
.message .bottom-box button:hover {
  box-shadow: 0px 0px 5px 0px rgb(189, 189, 189);
}
.message .bottom-box .confirm-message {
  background-color: #ebf4ff;
  color: black;
}
.message .bottom-box .confirm-message:hover {
  background-color: #54A0FF;
  color: white;
}
.message .bottom-box .cancel-message {
  background-color: #EE5353;
  color: white;
}

.content {
  margin-top: 2rem;
}
.content .control-records {
  display: flex;
  justify-content: right;
  align-items: center;
  max-width: 990px;
  position: relative;
}
.content .control-records:after {
  content: "";
  position: absolute;
  width: 96%;
  left: 0;
  height: 1px;
  background-color: #C8D6E5;
}
.content .control-records img {
  width: 20px;
  transform: rotate(90deg);
  cursor: pointer;
  transition: all 300ms;
}
.content .add-record {
  height: 80px;
  animation: heightMove 1000ms;
  display: none;
}
@keyframes heightMove {
  from {
    height: 0px;
  }
  to {
    height: 80px;
  }
}
.content .add-record .filters {
  display: flex;
  align-items: center;
  gap: 2rem;
  display: none;
  animation: fade-out 400ms;
}
@keyframes fade-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content .add-record .filters:nth-child(2) {
  margin-top: 1rem;
}
.content .add-record .filters .input-filter {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  background-color: white;
  border-radius: 5px;
  padding: 5px 10px;
  width: 270px;
}
.content .add-record .filters .input-filter label {
  font-weight: bold;
}
.content .add-record .filters .input-filter label:after {
  content: ":";
}
.content .add-record .filters .input-filter input {
  border: none;
  background-color: transparent;
}
.content .add-record .filters .input-filter img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.content .add-record .filters .input-filter .img-arrow {
  transform: rotate(90deg);
}
.content .add-record .filters .input-filter .input-driver-drivers {
  position: absolute;
  top: 33px;
  left: 0px;
  z-index: 999;
  width: 265px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  max-height: 100px;
  overflow: auto;
  display: none;
}
.content .add-record .filters .input-filter .input-driver-drivers .drivers-driver {
  cursor: pointer;
  transition: all ease-out 100ms;
}
.content .add-record .filters .input-filter .input-driver-drivers .drivers-driver:hover {
  font-weight: 600;
}
.content .add-record .filters .input-filter .input-calendar {
  position: absolute;
  top: 38px;
  left: 0px;
}
.content .add-record .filters button {
  background-color: #54A0FF;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.content .add-record .filters button:hover {
  background-color: #4195ff;
}
.content .record-filters {
  display: flex;
  gap: 30px;
  margin: 2rem 1rem 0 0;
  padding: 5px 10px;
  font-weight: bold;
}
.content .record-filters > * {
  width: 110px;
}
.content .records {
  max-width: 1000px;
  animation: fade-out 600ms;
}
@keyframes fade-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content .records .record {
  display: flex;
  gap: 30px;
  padding: 5px 10px;
  margin-bottom: 0.5rem;
  background-color: white;
  border-radius: 10px;
}
.content .records .record > * {
  width: 110px;
}
.content .records .record .delete-record {
  flex: 1;
  display: flex;
  justify-content: right;
}
.content .records .record .delete-record span {
  padding: 0 5px;
  background-color: #EE5353;
  width: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.content .records .record .delete-record span img {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

/*# sourceMappingURL=content.css.map */
