@import 'variables';
@import 'mixins';

.message{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem;
  box-shadow: $shadow;
  border-radius: $borderRadius;
  border: none;
  @include animate(fade-out, 400ms);
  @include keyFrameShow;

  .top-box{

    p{
      font-size: 1.1rem;
    }

  }

  .bottom-box{
    display: flex;
    justify-content: space-between;

    button{
      margin-top: 2rem;
      width: 48%;
      height: 40px;
      border-radius: $borderRadius;
      border: none;
      cursor: pointer;

      &:focus-visible {
        outline: none;
        border: none;
      }

      &:hover{
        box-shadow: $shadow;
      }
    }



    .confirm-message{
      background-color: $background-color;
      color: black;

      &:hover{
        background-color: $mainColor;
        color: white;
      }
    }

    .cancel-message{
      background-color: $error-color;
      color: white;
    }
  }

}